body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #333;
    color: rgb(167, 117, 117);
    padding: 20px;
    text-align: center;
  }
  
  section {
    padding: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .project {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
  }